.info-right {
	.info-title {
		font-weight: bold;
		margin-left: 0;
	}
	p {
		color: $soft-grey;
	}
	ul {
		@include bp-mobile {
			display: block;
		}
		list-style-type: none;
		padding: 0;
	}
	li {
		@include bp-mobile {
			margin: 30px;
			display: inline-block;
		}
		@extend %p;
		height: 2.4em;
		margin: 1em 2em 1em 0;
		color: $soft-grey;
		.fa {
			font-size: 2rem;
			width: 2rem;
			text-align: left;
			vertical-align: middle;
		}
		.info-detail {
			@include bp-mobile {
				display: none;
			}
			margin-left: 1rem;
			display: inline-block;
			vertical-align: middle;
			font-style: normal;
			line-height: 1.2rem;
		}
	}
}
