.form-left {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	.form-title {
		@include bp-mobile {
			margin-left: 0;
		}
		margin-left: 1rem;
	}
	p {
		width: 100%;
	}
	input {
		@extend %p;
		width: 40%;
		flex-grow: 1;
		margin: 1rem;
		padding: 10px;
		border: 2px solid $white;
		background-color: $shadow-green;
		color: $soft-grey;
		font-weight: 500;
	}
	textarea {
		@extend %p;
		width: 90%;
		flex-grow: 1;
		margin: 0 1rem;
		height: 5em;
		padding: 10px;
		border: 2px solid $white;
		background-color: $shadow-green;
		color: $soft-grey;
		font-weight: 500;
	}
	button {
		@include bp-mobile {
			width: 100%;
		}
		@extend %p;
		width: 35%;
		margin: 1rem;
		padding: 10px;
		border-radius: 0;
		border-style: none;
		background-color: $light-grey;
		color: $shadow-green;
		font-weight: 500;
	}
	input::placeholder,
	textarea::placeholder {
		@extend %p;
		color: $soft-grey;
		opacity: 0.8;
		font-weight: 500;
	}
	.contact-button {
		text-transform: uppercase;
	}
}
