.contact-outer {
	> .content {
		background: $shadow-green;
		color: $white;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 2.5em;
		h2 {
			width: 100%;
			margin-top: 0;
			padding-top: 1.5em;
			text-align: center;
			color: $white;
		}
		.form-left {
			@include bp-mobile {
				width: 100%;
				padding: 0%;
				text-align: center;
			}
			width: 48%;
			padding: 3%;
		}
		.info-right {
			@include bp-mobile {
				text-align: center;
				width: 100%;
				padding: 0%;
			}
			width: 24%;
			padding: 3%;
		}
		.form-title,
		.info-title {
			@include bp-mobile {
				font-size: 20px;
			}
			@extend %p;
			color: $white;
			font-size: 25px;
			text-transform: uppercase;
		}
	}
	&::before {
		content: '';
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M2,0L0,1L2,1Z" fill="%23#{str-slice($shadow-green + "", 2)}"/></svg>');
		background-size: 100% 100%;
		background-position: right top;
		display: block;
		height: 25px;
		margin-top: -25px;
	}

	&::after {
		content: '';
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1"  preserveAspectRatio="none"><path d="M0,0L0,1L2,0Z" fill="%23#{str-slice($shadow-green + "", 2)}"/></svg>');
		background-size: 100% 100%;
		background-position: right top;
		display: block;
		height: 25px;
	}
}
