.content-expertise {
	background-image: url('resources/assets/images/background-expertise.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 1%;
	padding-bottom: 6%;
	text-align: center;
	min-height: 50vw;
	z-index: -1;
	overflow-x: hidden;

	h3 {
		color: $viper-green;
		@include bp-mobile {
			margin: 5px;
		}
	}
	p {
		@include bp-mobile {
			font-size: 15px;
		}
	}
}

.expertise-item {
	@include bp-tablet {
		padding: 0.5% 5% 1% 2%;
	}
	@include bp-mobile {
		margin: 5% 5% 0 5%;
	}
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="3"><path d="M0,0L1,0L0,5Z" fill="rgba(256,256,256,0.8)"/></svg>');
	background-size: 100%;
	background-position: right top;
	margin: 3% 35% 0 10%;
	padding: 0.1% 2% 1%;
	text-align: left;
	transition: 1.5s left cubic-bezier(0.445, 0.05, 0.55, 0.95);
	left: 0;
	min-height: 4.5em;
	position: relative;
	&.hidden {
		left: -140%;

		&:nth-child(odd) {
			left: 140%;
		}
	}

	&:nth-child(odd) {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="3"><path d="M0,0L1,0L1,5Z" fill="rgba(256,256,256,0.8)"/></svg>');
		margin: 3% 10% 0 35%;
		padding: 0.1% 2% 1%;
		text-align: right;
		background-position: left top;

		@include bp-tablet {
			padding: 0.5% 5% 1% 2%;
		}
		@include bp-mobile {
			margin: 5% 5% 0 5%;
			&:last-child {
				margin: 5% 5% 7% 5%;
			}
		}
	}
}
