.main-nav {
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
	background: $main-nav-background-color;
	transition: 0.5s;

	&-outer {
		width: 100%;
		position: fixed;
		z-index: 999;
		transition: 0.5s;

		&::after {
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M0,0L0,1L2,0.0Z" fill="#{$main-nav-background-color}"/></svg>');
			background-size: 100% 100%;
			background-position: right top;
			height: 15px;
			width: 100%;
			content: '';
			display: block;
			transition: 0.5s;
		}
	}
	li:first-child {
		margin-right: auto;
	}
	li{
		margin-right: 50px;
		@include bp-note {
			margin-right:25px;
		}
	}
	a {
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		font-family: 'Ubuntu', sans-serif;
		font-size: 15px;
		color: $font-dark;
		font-weight: 500;
		transition: 0.5s;
		height: 70px;
		text-align: center;
		line-height: 70px;
		&:hover {
			color: $viper-green;
			text-decoration: underline;
		}
	}
	.logo {
		max-height: 70px;
		margin: 5px;
		transition: 0.5s;
	}
	.mobile-logo {
		display: none;
	}
}

.main-nav-outer.smaller {
	.main-nav {
		height: 55px;
		transition: 0.5s;
	}
	a {
		line-height: 13px;
		font-size: 12px;
		transition: 0.5s;
		margin: 20px 55px 0 30px;
		.logo {
			width: 150px;
			height: 55px;
			transform: scale(0.9);
			transition: 0.5s;
			margin: -17px 0 0 20px;
		}

	}
	&::after {
		height: 10px;
		transition: 0.5s;
	}
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	color: $font-dark;
	background: $main-nav-background-color;
	transition: 0.5s;
	text-align: right;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox] {
	display: none;
}

/* Show menu when invisible checkbox is checked */
input[type=checkbox]:checked ~ #menu {
	display: block;
}

/*Responsive Styles*/
@include bp-note {

	.main-nav {
		display: none;
		margin-top: 35px;

		&-outer {

			&::after {
				margin-top: -2px;
			}
		}
		li:first-child {
			display: none;
		}
		li:nth-child(2) {
			margin-top: -35px;
		}
		a{
			text-align: left;
		}

	}
	.mobile-logo {
		height: 40px;
		left: 0;
		position: fixed;
		margin: 0 15px 0;

	}
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 2px;
	}

	/*Display 'show menu' link*/
	.show-menu {
		display: block;
		margin-bottom: 2px;

		img {
			margin: 15px;
		}
	}
	/*Pointer on Hover, so that the user knows of an active link*/
	.show-menu:hover {
		cursor: pointer;
	}

	.main-nav-outer.smaller {
		.main-nav {
			height: 100%;
			transition: 0.5s;

		}
		.show-menu {
			display: block;
			margin-bottom: 0;

		}
		li:nth-child(2) {
			margin-top: -35px;
		}
		a {
			line-height: 13px;
			font-size: 12px;
			transition: 0.5s;
			margin: 20px 55px 0 30px;

			.logo {
				//width: 150px;
				height: 35px;
				transform: scale(0.9);
				transition: 0.5s;
				margin: -17px 0 0 20px;
			}

		}
		img {
			margin: 5px;
			transition: 0.5s;
		}
		&::after {
			height: 5px;
			margin-top: 0px;
			transition: 0.5s;
		}
	}
}
@include bp-tablet {
	.main-nav {
		.logo {
			max-height: 50px;
			margin: -15px 0 0 -20px;
		}

		li:first-child {
			float:left;
		}
		a {
			margin: 20px 0px 0 30px;
		}

		.mobile-logo {
			display: none;
		}
	}

	.main-nav-outer.smaller {
		.main-nav {
			transition: 0.5s;
		}
		a {
			line-height: 13px;
			font-size: 12px;
			transition: 0.5s;
			margin: 15px 0px 0 20px;
			.logo {
				height: 45px;
				transform: scale(0.9);
				transition: 0.5s;
				margin: -15px 0 0 0px;
			}

		}
		&::after {
			height: 10px;
			transition: 0.5s;
		}
	}
}