.slideshow {
	@include bp-mobile {
		height: 60vh;
	}
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-color: $black;

	.slide-img {
		user-select: none;
		pointer-events: none;
		min-height: 100%;
		min-width: 100%;
	}

	.welcome-text {
		@include bp-tablet {
			font-size: 35px;
		}
		color: $white;
		text-align: center;
		position: absolute;
		top: 25%;
		max-width: 800px;
		margin-left: 5%;
	}

	.banner-slides {
		@include position(absolute, 0, 100%, 0, -100%);
		transition: left 1s, right 1s, transform 1s;
		overflow: hidden;
		z-index: 2;
		&.show {
			@include position(absolute, 0, 0, 0, 0);
			z-index: 3;
		}
		&.showbefore {
			@include position(absolute, 0, -100%, 0, 100%);
			z-index: 1;
		}
	}
}
