.blogpost {
	@extend %p;
	margin: 0 auto;
	max-width: 65%;
	padding: 120px 0;
}

.blogpost-top {
	&-breadcrumbs {
		padding: 50px 0;
		text-transform: uppercase;
		color: $blog-grey;

		a {
			text-decoration: none;
			color: inherit;
		}

		span {
			font-weight: bold;
		}
	}

	&-date {
		padding-top: 40px;
		font-size: 1.3em;
		color: $blog-grey;
		font-weight: bold;
	}

	&-title {
		h1 {
			margin-top: 5px;
		}
	}

	&-image {
		@include bp-mobile {
			height: 150px;
		}
		height: 400px;
		width: 100%;
		background-size: cover;
		background-position: center;
		clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
	}
}

.blogpost-content {
	font-size: 1.3em;
}
