.section {
	&-content {
		background-color: $soft-grey;
	}

	&-consulting {
		margin: 0 auto;

		&::before {
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M2,0L0,1L2,1Z" fill="%23#{str-slice($soft-grey + "", 2)}"/></svg>');
			background-size: 100% 100%;
			background-position: right top;
			height: 40px;
			width: 100%;
			content: '';
			display: block;
			margin-top: -40px;
		}

		h2 {
			@include bp-mobile {
				margin: 0 0 50px;
			}
			text-align: center;
			margin: 0 0 100px;
			padding-top: 50px;
		}

		h3 {
			@include bp-mobile {
				text-align: center;
			}
			display: block;
			font-size: 25px;
			font-weight: 500;
			margin: 0;
			color: $vida-loca;
		}
		@include bp-mobile {
			p {
				text-align: center;
				margin: 30px 30px 0px 30px;
			}
		}
		.consulting-description {
			@include bp-mobile {
				text-align: center;
				margin: 30px 30px -10px 30px;

			}
			display: block;
			margin-top: 10px;
		}
	}

	&-row {

		@include bp-mobile {
			flex-direction: column;
			width: 100%;
			padding-bottom: 40px;
		}
		display: flex;
		width: 65%;
		margin: 0 auto;
		padding-bottom: 85px;

		&-content {
			flex-direction: column;
			width: 100%;
		}
	}

	&-icon {
		height: 140px;
		margin-right: 50px;
		@include bp-mobile {
			&:first-child {
				margin-bottom: 20px;
			}
			height: 120px;
			margin-right: 0;

		}
	}
}

//.animation {
//	path {
//		fill-opacity: 0;
//		stroke: $black;
//		stroke-width: 3;
//		stroke-dasharray: 3300;
//		stroke-dashoffset: 3300;
//		animation-iteration-count: 1;
//		animation: draw 2s linear;
//		animation-fill-mode: forwards;
//	}
//}
//@keyframes draw {
//	to {
//		stroke-dashoffset: 0;
//		fill-opacity: 1;
//	}
//}
