.footer {
	&::before {
		content: '';
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M2,0L0,1L2,1Z" fill="%23#{str-slice($soft-grey + "", 2)}"/></svg>');
		background-size: 100% 100%;
		background-position: right top;
		display: block;
		height: 25px;
		width: 100%;
		margin-top: -25px;
		position: relative;
		z-index: 3;
	}

	&-container {
		background-color: $soft-grey;
		display: flex;
		height: 80px;
		padding: 0 10%;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;

		span {
			@extend %p;
		}
	}
}

.footer-copyright-name {
	color: $viper-green;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: $viper-green;
		visibility: hidden;
		transform: scaleX(0);
		transition: 0.2s ease-in-out 0s;
	}

	&:hover {
		&::before {
			visibility: visible;
			transform: scaleX(1);
		}
	}
}

.social-icons {
	.fa {
		@include bp-mobile {
			width: 30px;
			height: 30px;
			margin-right: 0;
			font-size: 24px;
			line-height: 24px;

		}
		width: 45px;
		height: 45px;
		background-color: $black;
		color: $soft-grey;
		text-align: center;
		margin-right: 21px;
		font-size: 35px;
		line-height: 35px;
		position: relative;
		border-radius: 3px;

		&:last-of-type {
			margin-right: 0;
		}

		&::before {
			@include bp-mobile {
				left: 6px;
			}
			display: inline-block;
			position: absolute;
			left: 8px;
			bottom: 5px;
			z-index: 1;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 45px;
			height: 45px;
			transform: scaleY(0);
			transform-origin: bottom center;
			background: $viper-green;
			z-index: 0;
			border-radius: 3px;
			transition: transform 0.2s;
		}

		&:hover {
			&::after {
				transform: scaleY(1);
			}
		}

		&-facebook {
			@include bp-mobile {
				font-size: 24px;
				line-height: 24px;
			}
			font-size: 38px;
			line-height: 38px;

			&::before {
				@include bp-mobile {
					bottom: 4px;
					left: 12px;
				}
				bottom: -4px;
				left: 17px;
			}
		}

		&-twitter {
			@include bp-mobile {
				font-size: 24px;
				line-height: 24px;
			}
			font-size: 30px;
			line-height: 30px;

			&::before {
				@include bp-mobile {
					bottom: 4px;
					left: 5px;
				}
				bottom: 7px;
				left: 9px;
			}
		}
	}
}
