.purpose {
	width: 100%;
	background-color: $white;
	height: auto;

	&-content {
		@include bp-mobile{
			margin: -30px;
		}
		z-index: 1;

		.text-trigger {
			display: inline;
		}
	}

	&-outer {
		&::before {
			@include bp-mobile {
				display: none;
			}
			content: '';
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M2,0L0,1L2,1Z" fill="%23#{str-slice($white + "", 2)}"/></svg>');
			background-size: 100% 100%;
			background-position: right top;
			display: block;
			height: 25px;
			width: 100%;
			margin-top: -25px;
			position: relative;
			z-index: 3;
		}

		&::after {
			@include bp-mobile {
				height: 30px;
			}
			content: '';
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1"  preserveAspectRatio="none"><path d="M0,0L2,1L2,0Z" fill="%23#{str-slice($white + "", 2)}"/></svg>');
			background-size: 100% 100%;
			background-position: right top;
			display: block;
			height: 30px;
			width: 100%;
		}
	}

	&-container {
		width: 80%;
		margin: 0 auto;
		padding: 100px 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	&-text {
		padding: 50px;
		width: 62%;
		margin: 60px 0 0 -40px;
		position: relative;
		min-height: 250px;

		header {
			margin-top: -73.5px;
			text-align: center;
			position: relative;

			span {
				@extend %section-heading;
				background: $white;
				padding: 0 10px;
				text-transform: uppercase;
			}
		}

		.purpose-description {
			@extend %p;
			display: block;
			margin: 42px auto 0 0;

			&-read-more {
				display: inline;
			}
		}

		&::before,
		&::after {
			box-sizing: border-box;
			content: '';
			position: absolute;
			border: 3.5px solid transparent;
			width: 0;
			height: 0;
		}

		&::before {
			@include position(absolute, 0, initial, initial, 0);
		}

		&::after {
			@include position(absolute, initial, 0, 0, initial);
		}
	}
}

.border-active {
	color: $black;

	&::before,
	&::after {
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

	&::before {
		border-top-color: $black;
		border-right-color: $black;
		transition: width .5s ease-out, height .5s ease-out .5s;
	}

	&::after {
		border-bottom-color: $black;
		border-left-color: $black;
		transition: border-color 0s ease-out 1s, width .5s ease-out 1s, height .5s ease-out 1.5s;
	}
}

.image {
	@include bp-mobile {
		display: none;
	}
	max-width: 385px;
	width: 100%;
	height: auto;
	border: 10px solid $white;
	position: relative;
	z-index: 1;
}

.purpose-image {
	display: none;
}

@include bp-mobile {
	.purpose {
		&-container {
			width: 100%;
			padding: 40px 0;
		}
		&-image {
			display: block;
			width: 100%;
			height: auto;
		}

		&-text {
			margin: 0;
			header {
				margin-top: -60px;
			}
		}

	}
}
