.resources {
	margin-bottom: 30px;

	&::before {
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M2,0L0,1L2,1Z" fill="%23#{str-slice($white + "", 2)}"/></svg>');
		background-size: 100% 100%;
		background-position: right top;
		height: 40px;
		width: 100%;
		content: '';
		display: block;
		margin-top: -40px;
	}

	&-title {

		text-align: center;
		margin-bottom: 40px;
		h2 {
			color: $viper-green;
		}
		p {
			@include bp-mobile {
				margin-bottom: 10%;
			}
			width: 70%;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 3%;
		}
	}

	a {
		text-decoration: none;
	}

	.pdf {
		@include bp-desktop {
			width: 7%;
		}
		@include bp-tablet {
			width: 9%;
			max-height: 9%;
		}
		@include bp-mobile {
			width: 12%;
			margin-left: 50%;
			max-height: 10%;
		}
		width: 5%;
		max-height: 13%;
		background-color: $pdf-red;
		text-transform: uppercase;
		position: absolute;
		z-index: 2;
		margin-left: 20%;

		h3 {
			@include bp-mobile {
				line-height: 3;
			}
			@include bp-desktop {
				font-size: 23px;
				line-height: 4;
			}
			@include bp-tablet {
				font-size: 20px;
				line-height: 4;
			}
			margin: 0 auto;
			text-align: center;
			line-height: 3;
		}
	}

	.loadmore {
		@include bp-mobile {
			width: 30%;
			margin: 0 0 3% 55%;
			padding: 3%;
		}
		@extend %p;
		background-color: $viper-green;
		padding: 1%;
		color: $white;
		text-transform: uppercase;
		border: 0;
		font-weight: 500;
		width: 10%;
		margin: 0 0 2% 70%;
		cursor: pointer;
	}

	.hidden {
		display: none;
	}

	&-list {
		padding: 0;
		margin: 0 0 0 15%;
		list-style: none;

		display: flex;
		flex-wrap: wrap;
		max-width: 70%;
	}

	&-item {
		@include bp-mobile {
			width: 100%;
			margin: 50px 0px 30px;
		}
		@extend %p;
		width: $resources-item-width;
		max-height: $resources-item-height;
		margin: $resources-item-margin;
		color: $white;
		font-size: 1em;
		text-align: left;
		text-transform: uppercase;
		line-height: 1.5;

		img {
			@include bp-mobile {
				max-height: 40%;
				height: 130px;
			}
			clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
			width: 100%;
			z-index: -1;
			height: 70%;
			@media screen and (min-width: 1000px) and (max-width: 1368px) {
				height: 180px;
			}
		}

		&-desc {
			text-align: left;
			margin-top: 10px;

			&-date {
				font-size: 1.2em;
				color: $dark-grey;
				font-weight: bold;
				@media screen and (min-width: 1000px) and (max-width: 1368px) {
					font-size: 0.9em;
				}
			}

			&-content {
				@include bp-mobile {
					font-size: 16px;
				}
				font-size: 24px;
				color: $black;
				word-wrap: break-word;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}
