.whatwedo {

	&-outer {
		width: 100%;

		&::before {
			@include bp-mobile {
				display: none;
			}
			content: '';
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M0,0L0,1L2,1Z" fill="%23#{str-slice($shadow-green + "", 2)}"/></svg>');
			background-size: 100% 100%;
			background-position: right top;
			height: 30px;
			width: 100%;
			display: block;
		}
		&::after {
			@include bp-mobile {
				display: none;
			}
			content: '';
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M0,0L0,1L2,0.0Z" fill="%23#{str-slice($shadow-green + "", 2)}"/></svg>');
			background-size: 100% 100%;
			background-position: right top;
			height: 20px;
			width: 100%;
			display: block;
			margin-bottom: -20px;
			z-index: 100;
			position: relative;
		}
	}

	&-content {
		@include bp-mobile {
			padding: 0;
		}
		padding: 20px 0 80px;
		margin: 0;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		background-color: $shadow-green;
	}

	&-item {
		color: $white;
	}

	&-title {
		@include bp-mobile {
			padding-top:40px;
		}
		h2 {
			text-align: center;
			color: $white;
		}
	}
	&-post {
		@include bp-mobile {
			padding-bottom:40px;
			margin: 0;
		}
		padding: 5px 100px;
		margin: 0 8%;
		text-align: center;

		p {
			margin-top: 0;
		}

		@include bp-tablet {
			padding: 5px 10px;
			padding-bottom:40px;
		}

	}
}
