/*!
 *    Theme Name: Fairsource
 *    Author: Competa
 *    Description: Template for FairSource
 *    Version: 0.0.1
 *    Tags: FairSource
 */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

h1,
h2,
.purpose-text header span {
  font: 700 47px/1 'Ubuntu', sans-serif;
  color: #000000;
  text-transform: uppercase; }
  @media only screen and (max-width: 640px) {
    h1,
    h2,
    .purpose-text header span {
      font-size: 1.5rem; } }

h3 {
  font: 600 27px/1 'Ubuntu', sans-serif;
  color: #FFFFFF; }
  @media only screen and (max-width: 640px) {
    h3 {
      font-size: 1.2rem; } }

h4 {
  font: 700 25px/1 'Ubuntu', sans-serif;
  color: #4C8D17; }
  @media only screen and (max-width: 640px) {
    h4 {
      font-size: 1.0rem; } }

.contact-outer > .content .form-title,
.contact-outer > .content .info-title, .form-left input, .form-left textarea, .form-left button, .form-left input::-webkit-input-placeholder,
.form-left textarea::-webkit-input-placeholder, .info-right li, .purpose-text .purpose-description, .footer-container span, .resources .loadmore, .resources-item, .blogpost {
  font: 400 15px/1 'Ubuntu', sans-serif;
  color: #000000; }

.contact-outer > .content .form-title,
.contact-outer > .content .info-title, .form-left input, .form-left textarea, .form-left button, .form-left input:-ms-input-placeholder,
.form-left textarea:-ms-input-placeholder, .info-right li, .purpose-text .purpose-description, .footer-container span, .resources .loadmore, .resources-item, .blogpost {
  font: 400 15px/1 'Ubuntu', sans-serif;
  color: #000000; }

.contact-outer > .content .form-title,
.contact-outer > .content .info-title, .form-left input, .form-left textarea, .form-left button, .form-left input::placeholder,
.form-left textarea::placeholder, .info-right li, .purpose-text .purpose-description, .footer-container span, .resources .loadmore, .resources-item, .blogpost {
  font: 400 15px/1 'Ubuntu', sans-serif;
  color: #000000; }
  @media only screen and (max-width: 640px) {
    .contact-outer > .content .form-title,
    .contact-outer > .content .info-title, .form-left input, .form-left textarea, .form-left button, .form-left input::-webkit-input-placeholder,
    .form-left textarea::-webkit-input-placeholder, .info-right li, .purpose-text .purpose-description, .footer-container span, .resources .loadmore, .resources-item, .blogpost {
      font-size: 0.8rem; }
    .contact-outer > .content .form-title,
    .contact-outer > .content .info-title, .form-left input, .form-left textarea, .form-left button, .form-left input:-ms-input-placeholder,
    .form-left textarea:-ms-input-placeholder, .info-right li, .purpose-text .purpose-description, .footer-container span, .resources .loadmore, .resources-item, .blogpost {
      font-size: 0.8rem; }
    .contact-outer > .content .form-title,
    .contact-outer > .content .info-title, .form-left input, .form-left textarea, .form-left button, .form-left input::placeholder,
    .form-left textarea::placeholder, .info-right li, .purpose-text .purpose-description, .footer-container span, .resources .loadmore, .resources-item, .blogpost {
      font-size: 0.8rem; } }

.textshow {
  font-weight: bold; }
  .textshow:hover {
    color: #68A608;
    text-decoration: underline; }

.main-nav {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  background: rgba(228, 228, 228, 0.8);
  transition: 0.5s; }
  .main-nav-outer {
    width: 100%;
    position: fixed;
    z-index: 999;
    transition: 0.5s; }
    .main-nav-outer::after {
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M0,0L0,1L2,0.0Z" fill="rgba(228, 228, 228, 0.8)"/></svg>');
      background-size: 100% 100%;
      background-position: right top;
      height: 15px;
      width: 100%;
      content: '';
      display: block;
      transition: 0.5s; }
  .main-nav li:first-child {
    margin-right: auto; }
  .main-nav li {
    margin-right: 50px; }
    @media only screen and (max-width: 840px) {
      .main-nav li {
        margin-right: 25px; } }
  .main-nav a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #060606;
    font-weight: 500;
    transition: 0.5s;
    height: 70px;
    text-align: center;
    line-height: 70px; }
    .main-nav a:hover {
      color: #68A608;
      text-decoration: underline; }
  .main-nav .logo {
    max-height: 70px;
    margin: 5px;
    transition: 0.5s; }
  .main-nav .mobile-logo {
    display: none; }

.main-nav-outer.smaller .main-nav {
  height: 55px;
  transition: 0.5s; }

.main-nav-outer.smaller a {
  line-height: 13px;
  font-size: 12px;
  transition: 0.5s;
  margin: 20px 55px 0 30px; }
  .main-nav-outer.smaller a .logo {
    width: 150px;
    height: 55px;
    transform: scale(0.9);
    transition: 0.5s;
    margin: -17px 0 0 20px; }

.main-nav-outer.smaller::after {
  height: 10px;
  transition: 0.5s; }

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  color: #060606;
  background: rgba(228, 228, 228, 0.8);
  transition: 0.5s;
  text-align: right;
  padding: 10px 0;
  display: none; }

/*Hide checkbox*/
input[type=checkbox] {
  display: none; }

/* Show menu when invisible checkbox is checked */
input[type=checkbox]:checked ~ #menu {
  display: block; }

/*Responsive Styles*/
@media only screen and (max-width: 840px) {
  .main-nav {
    display: none;
    margin-top: 35px; }
    .main-nav-outer::after {
      margin-top: -2px; }
    .main-nav li:first-child {
      display: none; }
    .main-nav li:nth-child(2) {
      margin-top: -35px; }
    .main-nav a {
      text-align: left; }
  .mobile-logo {
    height: 40px;
    left: 0;
    position: fixed;
    margin: 0 15px 0; }
  /*Make dropdown links appear inline*/
  ul {
    position: static;
    display: none; }
  /*Create vertical spacing*/
  li {
    margin-bottom: 2px; }
  /*Display 'show menu' link*/
  .show-menu {
    display: block;
    margin-bottom: 2px; }
    .show-menu img {
      margin: 15px; }
  /*Pointer on Hover, so that the user knows of an active link*/
  .show-menu:hover {
    cursor: pointer; }
  .main-nav-outer.smaller .main-nav {
    height: 100%;
    transition: 0.5s; }
  .main-nav-outer.smaller .show-menu {
    display: block;
    margin-bottom: 0; }
  .main-nav-outer.smaller li:nth-child(2) {
    margin-top: -35px; }
  .main-nav-outer.smaller a {
    line-height: 13px;
    font-size: 12px;
    transition: 0.5s;
    margin: 20px 55px 0 30px; }
    .main-nav-outer.smaller a .logo {
      height: 35px;
      transform: scale(0.9);
      transition: 0.5s;
      margin: -17px 0 0 20px; }
  .main-nav-outer.smaller img {
    margin: 5px;
    transition: 0.5s; }
  .main-nav-outer.smaller::after {
    height: 5px;
    margin-top: 0px;
    transition: 0.5s; } }

@media only screen and (max-width: 768px) {
  .main-nav .logo {
    max-height: 50px;
    margin: -15px 0 0 -20px; }
  .main-nav li:first-child {
    float: left; }
  .main-nav a {
    margin: 20px 0px 0 30px; }
  .main-nav .mobile-logo {
    display: none; }
  .main-nav-outer.smaller .main-nav {
    transition: 0.5s; }
  .main-nav-outer.smaller a {
    line-height: 13px;
    font-size: 12px;
    transition: 0.5s;
    margin: 15px 0px 0 20px; }
    .main-nav-outer.smaller a .logo {
      height: 45px;
      transform: scale(0.9);
      transition: 0.5s;
      margin: -15px 0 0 0px; }
  .main-nav-outer.smaller::after {
    height: 10px;
    transition: 0.5s; } }

.content-expertise {
  background-image: url("resources/assets/images/background-expertise.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 1%;
  padding-bottom: 6%;
  text-align: center;
  min-height: 50vw;
  z-index: -1;
  overflow-x: hidden; }
  .content-expertise h3 {
    color: #68A608; }
    @media only screen and (max-width: 640px) {
      .content-expertise h3 {
        margin: 5px; } }
  @media only screen and (max-width: 640px) {
    .content-expertise p {
      font-size: 15px; } }

.expertise-item {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="3"><path d="M0,0L1,0L0,5Z" fill="rgba(256,256,256,0.8)"/></svg>');
  background-size: 100%;
  background-position: right top;
  margin: 3% 35% 0 10%;
  padding: 0.1% 2% 1%;
  text-align: left;
  transition: 1.5s left cubic-bezier(0.445, 0.05, 0.55, 0.95);
  left: 0;
  min-height: 4.5em;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .expertise-item {
      padding: 0.5% 5% 1% 2%; } }
  @media only screen and (max-width: 640px) {
    .expertise-item {
      margin: 5% 5% 0 5%; } }
  .expertise-item.hidden {
    left: -140%; }
    .expertise-item.hidden:nth-child(odd) {
      left: 140%; }
  .expertise-item:nth-child(odd) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="3"><path d="M0,0L1,0L1,5Z" fill="rgba(256,256,256,0.8)"/></svg>');
    margin: 3% 10% 0 35%;
    padding: 0.1% 2% 1%;
    text-align: right;
    background-position: left top; }
    @media only screen and (max-width: 768px) {
      .expertise-item:nth-child(odd) {
        padding: 0.5% 5% 1% 2%; } }
    @media only screen and (max-width: 640px) {
      .expertise-item:nth-child(odd) {
        margin: 5% 5% 0 5%; }
        .expertise-item:nth-child(odd):last-child {
          margin: 5% 5% 7% 5%; } }

.slideshow {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #000000; }
  @media only screen and (max-width: 640px) {
    .slideshow {
      height: 60vh; } }
  .slideshow .slide-img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    min-height: 100%;
    min-width: 100%; }
  .slideshow .welcome-text {
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 25%;
    max-width: 800px;
    margin-left: 5%; }
    @media only screen and (max-width: 768px) {
      .slideshow .welcome-text {
        font-size: 35px; } }
  .slideshow .banner-slides {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: -100%;
    transition: left 1s, right 1s, transform 1s;
    overflow: hidden;
    z-index: 2; }
    .slideshow .banner-slides.show {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3; }
    .slideshow .banner-slides.showbefore {
      position: absolute;
      top: 0;
      right: -100%;
      bottom: 0;
      left: 100%;
      z-index: 1; }

.contact-outer > .content {
  background: #4B8813;
  color: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 2.5em; }
  .contact-outer > .content h2 {
    width: 100%;
    margin-top: 0;
    padding-top: 1.5em;
    text-align: center;
    color: #FFFFFF; }
  .contact-outer > .content .form-left {
    width: 48%;
    padding: 3%; }
    @media only screen and (max-width: 640px) {
      .contact-outer > .content .form-left {
        width: 100%;
        padding: 0%;
        text-align: center; } }
  .contact-outer > .content .info-right {
    width: 24%;
    padding: 3%; }
    @media only screen and (max-width: 640px) {
      .contact-outer > .content .info-right {
        text-align: center;
        width: 100%;
        padding: 0%; } }
  .contact-outer > .content .form-title,
  .contact-outer > .content .info-title {
    color: #FFFFFF;
    font-size: 25px;
    text-transform: uppercase; }
    @media only screen and (max-width: 640px) {
      .contact-outer > .content .form-title,
      .contact-outer > .content .info-title {
        font-size: 20px; } }

.contact-outer::before {
  content: '';
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M2,0L0,1L2,1Z" fill="%234B8813"/></svg>');
  background-size: 100% 100%;
  background-position: right top;
  display: block;
  height: 25px;
  margin-top: -25px; }

.contact-outer::after {
  content: '';
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1"  preserveAspectRatio="none"><path d="M0,0L0,1L2,0Z" fill="%234B8813"/></svg>');
  background-size: 100% 100%;
  background-position: right top;
  display: block;
  height: 25px; }

.form-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start; }
  .form-left .form-title {
    margin-left: 1rem; }
    @media only screen and (max-width: 640px) {
      .form-left .form-title {
        margin-left: 0; } }
  .form-left p {
    width: 100%; }
  .form-left input {
    width: 40%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1rem;
    padding: 10px;
    border: 2px solid #FFFFFF;
    background-color: #4B8813;
    color: #F3F3F3;
    font-weight: 500; }
  .form-left textarea {
    width: 90%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 1rem;
    height: 5em;
    padding: 10px;
    border: 2px solid #FFFFFF;
    background-color: #4B8813;
    color: #F3F3F3;
    font-weight: 500; }
  .form-left button {
    width: 35%;
    margin: 1rem;
    padding: 10px;
    border-radius: 0;
    border-style: none;
    background-color: #E4E4E4;
    color: #4B8813;
    font-weight: 500; }
    @media only screen and (max-width: 640px) {
      .form-left button {
        width: 100%; } }
  .form-left input::-webkit-input-placeholder,
  .form-left textarea::-webkit-input-placeholder {
    color: #F3F3F3;
    opacity: 0.8;
    font-weight: 500; }
  .form-left input:-ms-input-placeholder,
  .form-left textarea:-ms-input-placeholder {
    color: #F3F3F3;
    opacity: 0.8;
    font-weight: 500; }
  .form-left input::placeholder,
  .form-left textarea::placeholder {
    color: #F3F3F3;
    opacity: 0.8;
    font-weight: 500; }
  .form-left .contact-button {
    text-transform: uppercase; }

.info-right .info-title {
  font-weight: bold;
  margin-left: 0; }

.info-right p {
  color: #F3F3F3; }

.info-right ul {
  list-style-type: none;
  padding: 0; }
  @media only screen and (max-width: 640px) {
    .info-right ul {
      display: block; } }

.info-right li {
  height: 2.4em;
  margin: 1em 2em 1em 0;
  color: #F3F3F3; }
  @media only screen and (max-width: 640px) {
    .info-right li {
      margin: 30px;
      display: inline-block; } }
  .info-right li .fa {
    font-size: 2rem;
    width: 2rem;
    text-align: left;
    vertical-align: middle; }
  .info-right li .info-detail {
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    line-height: 1.2rem; }
    @media only screen and (max-width: 640px) {
      .info-right li .info-detail {
        display: none; } }

.purpose {
  width: 100%;
  background-color: #FFFFFF;
  height: auto; }
  .purpose-content {
    z-index: 1; }
    @media only screen and (max-width: 640px) {
      .purpose-content {
        margin: -30px; } }
    .purpose-content .text-trigger {
      display: inline; }
  .purpose-outer::before {
    content: '';
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M2,0L0,1L2,1Z" fill="%23FFFFFF"/></svg>');
    background-size: 100% 100%;
    background-position: right top;
    display: block;
    height: 25px;
    width: 100%;
    margin-top: -25px;
    position: relative;
    z-index: 3; }
    @media only screen and (max-width: 640px) {
      .purpose-outer::before {
        display: none; } }
  .purpose-outer::after {
    content: '';
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1"  preserveAspectRatio="none"><path d="M0,0L2,1L2,0Z" fill="%23FFFFFF"/></svg>');
    background-size: 100% 100%;
    background-position: right top;
    display: block;
    height: 30px;
    width: 100%; }
    @media only screen and (max-width: 640px) {
      .purpose-outer::after {
        height: 30px; } }
  .purpose-container {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start; }
  .purpose-text {
    padding: 50px;
    width: 62%;
    margin: 60px 0 0 -40px;
    position: relative;
    min-height: 250px; }
    .purpose-text header {
      margin-top: -73.5px;
      text-align: center;
      position: relative; }
      .purpose-text header span {
        background: #FFFFFF;
        padding: 0 10px;
        text-transform: uppercase; }
    .purpose-text .purpose-description {
      display: block;
      margin: 42px auto 0 0; }
      .purpose-text .purpose-description-read-more {
        display: inline; }
    .purpose-text::before, .purpose-text::after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      border: 3.5px solid transparent;
      width: 0;
      height: 0; }
    .purpose-text::before {
      position: absolute;
      top: 0;
      right: initial;
      bottom: initial;
      left: 0; }
    .purpose-text::after {
      position: absolute;
      top: initial;
      right: 0;
      bottom: 0;
      left: initial; }

.border-active {
  color: #000000; }
  .border-active::before, .border-active::after {
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .border-active::before {
    border-top-color: #000000;
    border-right-color: #000000;
    transition: width .5s ease-out, height .5s ease-out .5s; }
  .border-active::after {
    border-bottom-color: #000000;
    border-left-color: #000000;
    transition: border-color 0s ease-out 1s, width .5s ease-out 1s, height .5s ease-out 1.5s; }

.image {
  max-width: 385px;
  width: 100%;
  height: auto;
  border: 10px solid #FFFFFF;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 640px) {
    .image {
      display: none; } }

.purpose-image {
  display: none; }

@media only screen and (max-width: 640px) {
  .purpose-container {
    width: 100%;
    padding: 40px 0; }
  .purpose-image {
    display: block;
    width: 100%;
    height: auto; }
  .purpose-text {
    margin: 0; }
    .purpose-text header {
      margin-top: -60px; } }

.section-content {
  background-color: #F3F3F3; }

.section-consulting {
  margin: 0 auto; }
  .section-consulting::before {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M2,0L0,1L2,1Z" fill="%23F3F3F3"/></svg>');
    background-size: 100% 100%;
    background-position: right top;
    height: 40px;
    width: 100%;
    content: '';
    display: block;
    margin-top: -40px; }
  .section-consulting h2 {
    text-align: center;
    margin: 0 0 100px;
    padding-top: 50px; }
    @media only screen and (max-width: 640px) {
      .section-consulting h2 {
        margin: 0 0 50px; } }
  .section-consulting h3 {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    color: #4C8D17; }
    @media only screen and (max-width: 640px) {
      .section-consulting h3 {
        text-align: center; } }
  @media only screen and (max-width: 640px) {
    .section-consulting p {
      text-align: center;
      margin: 30px 30px 0px 30px; } }
  .section-consulting .consulting-description {
    display: block;
    margin-top: 10px; }
    @media only screen and (max-width: 640px) {
      .section-consulting .consulting-description {
        text-align: center;
        margin: 30px 30px -10px 30px; } }

.section-row {
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: 0 auto;
  padding-bottom: 85px; }
  @media only screen and (max-width: 640px) {
    .section-row {
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      padding-bottom: 40px; } }
  .section-row-content {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }

.section-icon {
  height: 140px;
  margin-right: 50px; }
  @media only screen and (max-width: 640px) {
    .section-icon {
      height: 120px;
      margin-right: 0; }
      .section-icon:first-child {
        margin-bottom: 20px; } }

.whatwedo-outer {
  width: 100%; }
  .whatwedo-outer::before {
    content: '';
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M0,0L0,1L2,1Z" fill="%234B8813"/></svg>');
    background-size: 100% 100%;
    background-position: right top;
    height: 30px;
    width: 100%;
    display: block; }
    @media only screen and (max-width: 640px) {
      .whatwedo-outer::before {
        display: none; } }
  .whatwedo-outer::after {
    content: '';
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M0,0L0,1L2,0.0Z" fill="%234B8813"/></svg>');
    background-size: 100% 100%;
    background-position: right top;
    height: 20px;
    width: 100%;
    display: block;
    margin-bottom: -20px;
    z-index: 100;
    position: relative; }
    @media only screen and (max-width: 640px) {
      .whatwedo-outer::after {
        display: none; } }

.whatwedo-content {
  padding: 20px 0 80px;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #4B8813; }
  @media only screen and (max-width: 640px) {
    .whatwedo-content {
      padding: 0; } }

.whatwedo-item {
  color: #FFFFFF; }

@media only screen and (max-width: 640px) {
  .whatwedo-title {
    padding-top: 40px; } }

.whatwedo-title h2 {
  text-align: center;
  color: #FFFFFF; }

.whatwedo-post {
  padding: 5px 100px;
  margin: 0 8%;
  text-align: center; }
  @media only screen and (max-width: 640px) {
    .whatwedo-post {
      padding-bottom: 40px;
      margin: 0; } }
  .whatwedo-post p {
    margin-top: 0; }
  @media only screen and (max-width: 768px) {
    .whatwedo-post {
      padding: 5px 10px;
      padding-bottom: 40px; } }

.footer::before {
  content: '';
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M2,0L0,1L2,1Z" fill="%23F3F3F3"/></svg>');
  background-size: 100% 100%;
  background-position: right top;
  display: block;
  height: 25px;
  width: 100%;
  margin-top: -25px;
  position: relative;
  z-index: 3; }

.footer-container {
  background-color: #F3F3F3;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding: 0 10%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }

.footer-copyright-name {
  color: #68A608;
  text-transform: uppercase;
  text-decoration: none;
  position: relative; }
  .footer-copyright-name::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #68A608;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.2s ease-in-out 0s; }
  .footer-copyright-name:hover::before {
    visibility: visible;
    transform: scaleX(1); }

.social-icons .fa {
  width: 45px;
  height: 45px;
  background-color: #000000;
  color: #F3F3F3;
  text-align: center;
  margin-right: 21px;
  font-size: 35px;
  line-height: 35px;
  position: relative;
  border-radius: 3px; }
  @media only screen and (max-width: 640px) {
    .social-icons .fa {
      width: 30px;
      height: 30px;
      margin-right: 0;
      font-size: 24px;
      line-height: 24px; } }
  .social-icons .fa:last-of-type {
    margin-right: 0; }
  .social-icons .fa::before {
    display: inline-block;
    position: absolute;
    left: 8px;
    bottom: 5px;
    z-index: 1; }
    @media only screen and (max-width: 640px) {
      .social-icons .fa::before {
        left: 6px; } }
  .social-icons .fa::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45px;
    height: 45px;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #68A608;
    z-index: 0;
    border-radius: 3px;
    transition: transform 0.2s; }
  .social-icons .fa:hover::after {
    transform: scaleY(1); }
  .social-icons .fa-facebook {
    font-size: 38px;
    line-height: 38px; }
    @media only screen and (max-width: 640px) {
      .social-icons .fa-facebook {
        font-size: 24px;
        line-height: 24px; } }
    .social-icons .fa-facebook::before {
      bottom: -4px;
      left: 17px; }
      @media only screen and (max-width: 640px) {
        .social-icons .fa-facebook::before {
          bottom: 4px;
          left: 12px; } }
  .social-icons .fa-twitter {
    font-size: 30px;
    line-height: 30px; }
    @media only screen and (max-width: 640px) {
      .social-icons .fa-twitter {
        font-size: 24px;
        line-height: 24px; } }
    .social-icons .fa-twitter::before {
      bottom: 7px;
      left: 9px; }
      @media only screen and (max-width: 640px) {
        .social-icons .fa-twitter::before {
          bottom: 4px;
          left: 5px; } }

.resources {
  margin-bottom: 30px; }
  .resources::before {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="1" preserveAspectRatio="none"><path d="M2,0L0,1L2,1Z" fill="%23FFFFFF"/></svg>');
    background-size: 100% 100%;
    background-position: right top;
    height: 40px;
    width: 100%;
    content: '';
    display: block;
    margin-top: -40px; }
  .resources-title {
    text-align: center;
    margin-bottom: 40px; }
    .resources-title h2 {
      color: #68A608; }
    .resources-title p {
      width: 70%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 3%; }
      @media only screen and (max-width: 640px) {
        .resources-title p {
          margin-bottom: 10%; } }
  .resources a {
    text-decoration: none; }
  .resources .pdf {
    width: 5%;
    max-height: 13%;
    background-color: #F8423E;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    margin-left: 20%; }
    @media only screen and (max-width: 1280px) {
      .resources .pdf {
        width: 7%; } }
    @media only screen and (max-width: 768px) {
      .resources .pdf {
        width: 9%;
        max-height: 9%; } }
    @media only screen and (max-width: 640px) {
      .resources .pdf {
        width: 12%;
        margin-left: 50%;
        max-height: 10%; } }
    .resources .pdf h3 {
      margin: 0 auto;
      text-align: center;
      line-height: 3; }
      @media only screen and (max-width: 640px) {
        .resources .pdf h3 {
          line-height: 3; } }
      @media only screen and (max-width: 1280px) {
        .resources .pdf h3 {
          font-size: 23px;
          line-height: 4; } }
      @media only screen and (max-width: 768px) {
        .resources .pdf h3 {
          font-size: 20px;
          line-height: 4; } }
  .resources .loadmore {
    background-color: #68A608;
    padding: 1%;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
    font-weight: 500;
    width: 10%;
    margin: 0 0 2% 70%;
    cursor: pointer; }
    @media only screen and (max-width: 640px) {
      .resources .loadmore {
        width: 30%;
        margin: 0 0 3% 55%;
        padding: 3%; } }
  .resources .hidden {
    display: none; }
  .resources-list {
    padding: 0;
    margin: 0 0 0 15%;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 70%; }
  .resources-item {
    width: 40%;
    max-height: 50%;
    margin: 2% 5%;
    color: #FFFFFF;
    font-size: 1em;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.5; }
    @media only screen and (max-width: 640px) {
      .resources-item {
        width: 100%;
        margin: 50px 0px 30px; } }
    .resources-item img {
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
      width: 100%;
      z-index: -1;
      height: 70%; }
      @media only screen and (max-width: 640px) {
        .resources-item img {
          max-height: 40%;
          height: 130px; } }
      @media screen and (min-width: 1000px) and (max-width: 1368px) {
        .resources-item img {
          height: 180px; } }
    .resources-item-desc {
      text-align: left;
      margin-top: 10px; }
      .resources-item-desc-date {
        font-size: 1.2em;
        color: #98999A;
        font-weight: bold; }
        @media screen and (min-width: 1000px) and (max-width: 1368px) {
          .resources-item-desc-date {
            font-size: 0.9em; } }
      .resources-item-desc-content {
        font-size: 24px;
        color: #000000;
        word-wrap: break-word;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        @media only screen and (max-width: 640px) {
          .resources-item-desc-content {
            font-size: 16px; } }

.blogpost {
  margin: 0 auto;
  max-width: 65%;
  padding: 120px 0; }

.blogpost-top-breadcrumbs {
  padding: 50px 0;
  text-transform: uppercase;
  color: #585858; }
  .blogpost-top-breadcrumbs a {
    text-decoration: none;
    color: inherit; }
  .blogpost-top-breadcrumbs span {
    font-weight: bold; }

.blogpost-top-date {
  padding-top: 40px;
  font-size: 1.3em;
  color: #585858;
  font-weight: bold; }

.blogpost-top-title h1 {
  margin-top: 5px; }

.blogpost-top-image {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%); }
  @media only screen and (max-width: 640px) {
    .blogpost-top-image {
      height: 150px; } }

.blogpost-content {
  font-size: 1.3em; }

/*# sourceMappingURL=style.css.map */
