@mixin bp-desktop {
	@media only screen and (max-width: 1280px) {
		@content;
	}
}

@mixin bp-tablet {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin bp-mobile {
	@media only screen and (max-width: 640px) {
		@content;
	}
}

@mixin bp-note {
	@media only screen and (max-width: 840px) {
		@content;
	}
}
