h1,
h2,
%section-heading {
	@include bp-mobile {
		font-size: 1.5rem;
	}
	font: 700 47px/1 'Ubuntu', sans-serif;
	color: $black;
	text-transform: uppercase;
}

h3 {
	@include bp-mobile {
		font-size: 1.2rem;
	}
	font: 600 27px/1 'Ubuntu', sans-serif;
	color: $white;
}

h4 {
	@include bp-mobile {
		font-size: 1.0rem;
	}
	font: 700 25px/1 'Ubuntu', sans-serif;
	color: $vida-loca;
}

%p {
	@include bp-mobile {
		font-size: 0.8rem;
	}
	font: 400 15px/1 'Ubuntu', sans-serif;
	color: $black;

}

