// Main navigation properties
$main-nav-background-color: rgba(228, 228, 228, 0.8);

// Resources properties
$resources-item-width: 40%;
$resources-item-height: 50%;
$resources-item-img-height: 275px;
$resources-item-margin: 2% 5%;

// Colors
$black: #000000;
$white: #FFFFFF;
$shadow-green: #4B8813;
$soft-grey: #F3F3F3;
$font-dark: #060606;
$viper-green: #68A608;
$vida-loca: #4C8D17;
$light-grey: #E4E4E4;
$pdf-red: #F8423E;
$dark-grey: #98999A;
$blog-grey: #585858;
